In [1]:
import pandas as pd

In [11]:
# Data importation

df1 = pd.read_excel(r"C:\Users\USER PC\Desktop\Resources\mexico-real-estate-1.xlsx")
df2 = pd.read_excel(r"C:\Users\USER PC\Desktop\Resources\mexico-real-estate-2.xlsx")
df3 = pd.read_excel(r"C:\Users\USER PC\Desktop\Resources\mexico-real-estate-3.xlsx")

dfs = [df1, df2, df3]

In [12]:
# Data visualization

for df in dfs:
    print(df.info(), end='\n\n')
    print(df.head(), end='\n\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     700 non-null    int64
 1   property_type  700 non-null    object
 2   state          700 non-null    object
 3   lat            583 non-null    float64
 4   lon            583 non-null    float64
 5   area_m2        700 non-null    int64
 6   price_usd      700 non-null    float64
dtypes: float64(3), int64(2), object(2)
memory usage: 38.4+ KB
None

   Unnamed: 0 property_type                            state        lat  \
0           1         house                 Estado de México  19.560181
1           2         house                       Nuevo León  25.688436
2           3     apartment                         Guerrero  16.767704
3           4     apartment                         Guerrero  16.829782
4           5         house  Veracruz de Ignacio de la Llave        NaN

          lon  area_m2  price_usd
0  -99.233528      150   67965.56
1 -100.198807      186   63223.78
2  -99.764383       82   84298.37
3  -99.911012      150   94308.80
4         NaN      175   94835.67

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     700 non-null    int64
 1   property_type  700 non-null    object
 2   state          700 non-null    object
 3   lat            571 non-null    float64
 4   lon            571 non-null    float64
 5   area_m2        700 non-null    int64
 6   price_mxn      700 non-null    int64
dtypes: float64(2), int64(3), object(2)
memory usage: 38.4+ KB
None

   Unnamed: 0 property_type       state        lat         lon  area_m2  \
0           1     apartment  Nuevo León  25.721081 -100.345581       72
1           2     apartment      Puebla        NaN         NaN      190
2           3         house     Morelos  23.634501 -102.552788      360
3           4         house     Morelos        NaN         NaN       76
4           5         house      Puebla        NaN         NaN      200

   price_mxn
0    1300000
1    2500000
2    5300000
3     820000
4    1100000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               700 non-null    int64
 1   property_type            700 non-null    object
 2   place_with_parent_names  700 non-null    object
 3   lat-lon                  582 non-null    object
 4   area_m2                  700 non-null    int64
 5   price_usd                700 non-null    float64
dtypes: float64(1), int64(2), object(3)
memory usage: 32.9+ KB
None

   Unnamed: 0 property_type  \
0           1     apartment
1           2         house
2           3         house
3           4         house
4           5     apartment

                             place_with_parent_names                 lat-lon  \
0  |México|Distrito Federal|Gustavo A. Madero|Acu...     19.52589,-99.151703
1           |México|Estado de México|Toluca|Metepec|  19.2640539,-99.5727534
2  |México|Estado de México|Toluca|Toluca de Lerd...    19.268629,-99.671722
3        |México|Morelos|Temixco|Burgos Bugambilias|                     NaN
4  |México|Veracruz de Ignacio de la Llave|Veracruz|    19.511938,-96.871956

   area_m2  price_usd
0       71   48550.59
1      233  168636.73
2      300   86932.69
3      275  263432.41
4       84   68508.67

In [ ]:
# Data cleaning

for df in dfs:
    df.dropna(inplace=True)